{
    extends: [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    parserOptions: {
        "parser": "babel-eslint",
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
                "experimentalObjectRestSpread": true
        }
    },
    plugins: [
        "json",
        "vue"
    ],
    env: {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "jasmine": true
    },
    globals: {
        "Vue": false,
        "$": false
    },
    rules: {
        "linebreak-style": ["error", "unix"],
        "no-console": ["error", {allow: ["warn","error"]}],
        "no-var": "warn",
        "vue/html-indent": ["error", 4]
    }
}
