%TMPL:INCLUDE{"attachagain"}%

%TMPL:DEF{"changepropertiesaction"}%<div class="foswikiFormStep foswikiLast">%IF{"$WORKFLOWEDITPERM" then="<input type='submit' class='foswikiButton' name='changeproperties' value='%MAKETEXT{"Change comment only"}%' />"}%</div>%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%IF{"$WORKFLOWEDITPERM" then="<input type='submit' class='foswikiSubmit' value='%MAKETEXT{"Upload file"}%' /> "}%%TMPL:P{"canceltopicaction"}%%TMPL:END%

%TMPL:DEF{"newfile"}%<div class="foswikiFormStep">
---+++ %MAKETEXT{"Update existing attachment"}%

%TMPL:P{"previous"}%%IF{"$ATTACHFILESIZELIMIT > 0" then="%MAKETEXT{"Upload up to [_1] KB." args="%ATTACHFILESIZELIMIT%"}%"}%

<noautolink><input type="hidden" name="filename" value="%FILENAME%" /> 
<input class="foswikiInputField" type="file" name="filepath" value="%FILEPATH%" size="70" /></noautolink>
</div>%TMPL:END%
