%TMPL:INCLUDE{"mailtemplatescontrib"}%
%TMPL:INCLUDE{"WorkflowMail"}%

%{ This template will just make the old format compatible with MailTemplatesContrib. }%

%TMPL:DEF{"ModacMailSubject"}%%TMPL:P{"Subject"}%%TMPL:END%

%TMPL:DEF{"ModacMailContents"}%%TMPL:P{"mailContents"}%%TMPL:END%

%TMPL:DEF{"ModacMailTo"}%%TMPL:P{"To"}%%TMPL:END%

%TMPL:DEF{"ModacMailCharset"}%%TMPL:P{"Charset"}%%TMPL:END%

%TMPL:DEF{"ModacMailType"}%%TMPL:P{"Type"}%%TMPL:END%
