%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"Topic no longer available"}% %TMPL:END%

%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Topic no longer available"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}% [[%WEB%.%TOPIC%][%MAKETEXT{"OK"}%]] %TMPL:END%

%TMPL:DEF{"message"}%

%IF{"'%URLPARAM{found}%'" then="%MAKETEXT{"The discussion you clicked is no longer available. You can go to the original topic by clicking OK."}%" else="%MAKETEXT{"The link you clicked is no longer available."}%"}%

%TMPL:END%
