%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"Error in link"}% %TMPL:END%

%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Error in link"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}% [[%WIKILOGOURL%][OK]] %TMPL:END%

%TMPL:DEF{"message"}%

%MAKETEXT{"The link you clicked is malformed."}%

%TMPL:END%
