%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"File changed"}% %TMPL:END%

%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"File changed"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}% [[%WEB%.%TOPIC%][%MAKETEXT{"OK"}%]] %TMPL:END%

%TMPL:DEF{"message"}%

The topic you clicked has changed state since this link was created.%BR%
It used to be in %PARAM2% but is now in %PARAM3%%BR%
Continue to the topic here: [[%WEB%.%TOPIC%]]

%TMPL:END%
