%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%{ ------------------------------------ TALK --------------------------------------------------------------- }%

%{ Talk Suffix definieren }%
%TMPL:DEF{"talktopic"}%%WORKFLOWSUFFIX%%TMPL:END%
%TMPL:DEF{talktopiccreatetemplate}%?topicparent=%WEB%.%TOPIC%;onlynewtopic=1%IF{"defined TALKTOPICTEMPLATE" then=";templatetopic=%TALKTOPICTEMPLATE%"}%%IF{"defined TALKTOPICFORMTEMPLATE" then=";formtemplate=%TALKTOPICFORMTEMPLATE%"}%%TMPL:END%

%TMPL:DEF{"modacButtonsLEFT"}%<li class="%IF{"context KVPHasDiscussion" then="kvpApprovedExists" else="kvpApprovedDoesNotExist"}%">%TMPL:P{"topictabaction"}%</li><li class="%IF{"context KVPHasDiscussion" then="kvpDiscussionExists" else="kvpDiscussionDoesNotExist"}%">%TMPL:P{"talktopicactionbutton"}%</li>%TMPL:END%

%{ Talk Buttons definieren }%
%TMPL:DEF{"topictabaction"}%%TMPL:P{context="KVPIsDiscussion" else="approvedtopicactionbuttonactive" then="approvedtopicactionbuttoninactive"}%%TMPL:END%

%{ Link zum freigegebenen Stand je nach aktivem Bearbeitungsstand ausgeben }%
%TMPL:DEF{approvedtopicactionbuttoninactive}%%IF{"$TOPIC = '%WORKFLOWORIGIN%' OR NOT istopic '%WEB%.%WORKFLOWORIGIN%'" then="<a><strike>%KVPPluginLeftTab%</strike></a>" else="<a href='$percentSCRIPTURLPATH{$quotview$quot}$percent/$percentWEB$percent/$percentWORKFLOWORIGIN$percent' rel='nofollow' title='$percentKVPPluginLeftTab$percent' >$percentKVPPluginLeftTab$percent</a>"}%%TMPL:END%
%TMPL:DEF{approvedtopicactionbuttonactive}%<div class="modacActionButtonACTIVE"><a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%' rel='nofollow' title='%KVPPluginLeftTab%' >%KVPPluginLeftTab%</a></div>%TMPL:END%

%{
    Diskussionsstand je nach Bearbeitungsstand ausgeben.
    This will also set the label for the left tab (active or inactive).
 }%
%TMPL:DEF{"talktopicactionbutton"}%%SET{"KVPPluginLeftTab" value="%IF{"context KVPControlled or not '%TOPIC%'/DocumentType" then="$percentMAKETEXT{$percentGETWORKFLOWROW{lefttab}$percent}$percent" else="$percentRENDERFORDISPLAY{include=\"DocumentType\" format=\"$value\"}$percent"}%"}%%TMPL:P{context="KVPIsDiscussion" else="talktopicactionviewinactive" then="talktopicactionviewactive"}%%TMPL:END%

%{ Anzeige im Diskussionsstand Alex: HIER MUSS NEN TAG HINZUKOMMEN}%
%TMPL:DEF{"talktopicactionviewactive"}%<div class="modacActionButtonACTIVE"><a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%' rel='nofollow' title='%MAKETEXT{"Discussion about Improvements"}%' >%MAKETEXT{%GETWORKFLOWROW{"righttab"}%}%</a></div>%TMPL:END%

%{ Anzeige im freigegebenen Stand }%
%TMPL:DEF{"talktopicactionviewinactive"}%<div class="modacActionButtonINACTIVE">%IF{"context KVPHasDiscussion" then="$percntTMPL:P{talktopicactionviewinactivelink}$percnt" else="$percntTMPL:P{talktopicactionviewinactivenew}$percnt"}%</div>%TMPL:END%

%{ Diskussionsstand bearbeiten }%
%TMPL:DEF{"talktopicactionviewinactivelink"}%<a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%%TMPL:P{talktopic}%' rel='nofollow' title='%MAKETEXT{"Discussion about Improvements"}%' >%MAKETEXT{%GETWORKFLOWROW{"righttab"}%}%</a>%TMPL:END%

%{ Diskussionsstand neu erstellen }%
%TMPL:DEF{"talktopicactionviewinactivenew"}%%WORKFLOWFORK{label="%MAKETEXT{"Start new Discussion"}%" title="%MAKETEXT{"Discussion about Improvements"}%"}%%TMPL:END%

%{ ------------------------------------ /TALK --------------------------------------------------------------- }%
